<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.WebDriver" version="4.46.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="150.0.7871.12400" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
</packages>